
/*ფონტების შემოტანა*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*სეტაპი*/
html{
  height: 100%;
}
body{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 100%;
  align-items: center;
  background-color: rgb(72, 155, 247);
  justify-content: center;
}
#root{
  display: flex;
  grid-area: 1/2/1/2;
  justify-content: center;
  height: 70%;
  align-items: center;
}

/*პაროლის გენერატორის ჩარჩო*/
.generatorCard{
  box-shadow: rgba(0, 0, 0, 0.534) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.424) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;
  padding: 20px;
  width: 30vw;
  background-color: #0B0F2F;
}

/*რესპონსივი*/
@media only screen and (min-width: 2200px){
  .generatorCard{
    width: 20vw!important;
  }
}
@media only screen and (min-width:700px) and (max-width:1340px){
  .generatorCard{
    width: 50vw;
  }
}
@media only screen and (min-width:500px) and (max-width:700px){
  body{
    align-items:center;
  }
  .generatorCard{
    width: 70vw;
    overflow: auto;
  }
}
@media only screen and (min-width:321px) and (max-width:500px){
  body{
    align-items:center;
  }
  .generatorCard{
    margin-top:0!important;
    width: 85vw;
    overflow: auto;
  }
}
@media only screen and (max-width:320px){
  body{
    align-items:center!important;
  }
  .generatorCard{
    width: 96vw;
    overflow: auto;
  }
  .flex{
    justify-content: space-around!important;
  }
}
@media only screen and (max-height: 700px){
  .generatorCard{
    width: 80vw;
    overflow: auto;
  }
}

/*წარწერა*/
.title{
  font-size: 1.7em;
  color: rgb(227, 227, 231);
}

/*პაროლის გამოსატანი ჩარჩო*/
.passwordBoard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  word-wrap: break-word!important;
  background-color: rgb(30, 34, 63);
  padding: 10px!important;
  color: rgb(227, 227, 231);
  overflow: auto;
  border-radius: 8px;
  word-wrap: break-word;
 }

 /*დაკოპირების ღლაკი*/
.passwordBoard div{
  margin-left: 1px!important;
  padding: 3px;
  position: relative;
  color: white;
  cursor: pointer;
  text-align: center;
}
.passwordBoard div:hover{
  color: #6A77D7;
}

/*პაროლის გამოსატანი ლოკაცია*/
.passwordLocation {
  background-color: rgb(30, 34, 63);
  color: rgb(227, 227, 231);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  margin: 0;
  border: none!important;
  outline: none;
  cursor: context-menu;
}
/*დაკოპირების ნიშნის დიზაინი*/
.copiedLocation{
  position: absolute;
  background-color: rgba(118, 200, 147,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(24, 78, 119);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  margin: 0;
  border: none!important;
  outline: none;
  cursor: context-menu;
  transition: all ease .6s;
}

/*სიგრძის აღმნიშნველი*/
.length{
  color: rgb(110, 112, 129);
  font-size: 0.8em;
  cursor: context-menu;
}
.length span{
  color: rgb(227, 227, 231);
}
.length p {
  margin-top:10px!important;
  margin-left: 8px!important;
  margin: 0;
  font-weight: 600;
}
/*ბუთსთრაფის განულებები*/
.col-12 {
  margin: 0!important;
  padding: 0!important;
}
.col-9 {
  margin: 0!important;
  padding: 0!important;
}
.row {
  margin: 0;
  text-align: center;
}

/*რეინჯის ჩარჩო*/
.rangeBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 34, 63);
  padding: 15px!important;
  color: rgb(227, 227, 231);
  overflow: auto;
  border-radius: 8px;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1em;
  margin: 0;
  border: none!important;
  outline: none;
  cursor: context-menu;
  text-align: center;
}
/*რეინჯის სივრცე*/
.rangeSpot{
  display: flex;
  width: 80%!important;
}

/*რეინჯის დიზაინი*/
input[type='range']{
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  outline: none;
  background: rgb(110, 112, 129);
  background-image: linear-gradient(#1900ff, #1900ff);
  background-repeat: no-repeat;
  background-size: 0% 100%;
}
input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 2px;
  box-shadow: none;
  border: none;
}
input[type=”range”]::-moz-range-track{
  -webkit-appearance: none;
  height: 2px;
  box-shadow: none;
  border: none;
}
input[type=”range”]::-ms-track{
  -webkit-appearance: none;
  height: 2px;
  box-shadow: none;
  border: none;
}
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  position: relative;
  bottom: 9px;
}
input[type=”range”]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  position: relative;
  bottom: 9px;
}
input[type=”range”]::-ms-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  position: relative;
  bottom: 9px;
}

/*სეთინგების წარწერა*/
.settings p{
  margin-top:10px!important;
  margin-left: 8px!important;
  margin: 0;
  font-weight: 600;
  color: rgb(110, 112, 129);
  font-size: 0.8em;
  margin-bottom: 0!important;
  cursor: context-menu;
}

/*სეთთინგების დიზაინი*/
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}
.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #6E7081;
  background-color: #6E7081;
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #5E6BDA;
  background-color: #5E6BDA;
}
.toggle:checked:after {
  transform: translatex(20px);
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center!important;
  background-color: rgb(30, 34, 63);
  padding: 11px;
  color: rgb(227, 227, 231);
  overflow: auto;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  font-size: 1em;
  margin: 0;
  border: none!important;
}
.margin{
  margin-top: 10px!important;
}
.flex label{
  margin-top:5px!important;
  margin-left: 10px!important;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.09em;
  font-weight: 500!important;
}

/*ღილაკის ჩარჩო*/
.buttonBox{
  display: flex;
  margin-top: 20px!important;
  width: 100%!important;
}
.buttonBox1 {
  display: flex;
  width: 100%!important;
}
/*ღილაკი*/
.buttonBox .btnMy {
  width: 90%;
  height: 55px;
  background-image: linear-gradient(to right, #6A77D7, #6F54A4);
  color: white;
  text-transform: uppercase;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  letter-spacing: 0.07em;
  font-family: 'Arimo', sans-serif;
}
.buttonBox .btnMy2{
  width: 100%;
  height: 55px;
  background-image: linear-gradient(to right, #6A77D7, #6F54A4);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.07em;
  font-family: 'Arimo', sans-serif;
}
.buttonBox .btnMy:hover {
  animation: gradiant 1s infinite normal;
  color: whitesmoke;
}
.buttonBox .btnMy:active {
  color: #489BF7;
}

/*ისტორიაზე გადასვლა*/
.history{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-left: 1px solid #1E223F!important;
  height: 55px;
  background-color: #1E223F;
  color: white;
  text-transform: uppercase;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  letter-spacing: 0.07em;
  font-family: 'Arimo', sans-serif;
}
.history:hover{
  background-color: #343852;
}
.fa-history{
  font-size: 1.3em;
}
@media only screen and (max-width:460px){
  .fa-history{
    font-size: 4vw;
  }
}



/*ანიმაცია*/
@keyframes gradiant {
  10%{
    background-image: linear-gradient(to right, #6A77D7 10%, #6F54A4 93%);
  }
  20%{
    background-image: linear-gradient(to right, #6A77D7 20%, #6F54A4 93%);
  }
  30%{
    background-image: linear-gradient(to right, #6A77D7 30%, #6F54A4 93%);
  }
  40%{
    background-image: linear-gradient(to right, #6A77D7 41%, #6F54A4 93%);
  }
  50%{
    background-image: linear-gradient(to right, #6A77D7 51%, #6F54A4 93%);
  }
  60%{
    background-image: linear-gradient(to right, #6A77D7 61%, #6F54A4 93%);
  }
  70%{
    background-image: linear-gradient(to right, #6A77D7 41%, #6F54A4 93%);
  }
 80%{
    background-image: linear-gradient(to right, #6A77D7 30%, #6F54A4 93%);
  }
  90%{
    background-image: linear-gradient(to right, #6A77D7 20%, #6F54A4 93%);
  }
  100%{
    background-image: linear-gradient(to right, #6A77D7 10%, #6F54A4 93%);
  }
}

/*სეთინგის მონიშვნის შეტყობინება*/
.check{
  color: rgb(230, 57, 70);
  text-shadow: 0px 4px 4px #282828;
  animation: colorChange .3s infinite;
}
@keyframes colorChange {
  to {
    color: white;
  }
}

/*საკუთარი პაროლის შემოწმების სექციის ღლაკი*/
.or p{
  text-align: center;
  width: 100%;
  margin-top:10px!important;
  font-weight: 600;
  color: rgb(110, 112, 129);
  font-size: 1em;
  cursor: context-menu;
  margin: 0;
}
.changeFace{
  margin-top: 10px;
  width: 100%!important;
  display: flex;
  justify-content: center;
}
.changeFace button{
  width: 100%;
  border: none;
  background-image: linear-gradient(to right, #0B0F2F, #1E223F);
  border-radius: 10px;
  color:#6E7081;
  font-family: 'Arimo', sans-serif;
}

.changeFace button:hover {
  background-image: linear-gradient(to right, #70748f, #b9bff0);
  color: #0B0F2F;
}

/* color palette:
https://coolors.co/0b0f2f-1e223f-489bf7-6a77d7-6f54a4-5e6bda-6e7081-0329d6-f7f7f8
*/


